<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="robots" content="index, follow" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta property="og:url" content="https://www.yggjobs.com/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="YggBoard" />
  <meta property="og:description" content="YggBoard, a primeira plataforma de gestão de habilidades do mundo!" />
  <meta property="og:image" content="<%= url %>wp-content/themes/yggtheme/assets/layout/logo.png" />
  <meta property="fb:app_id" content="1634877229886951" />
  <meta name="robots" content="noindex" />
  <title>YggBoard</title>
  <link rel="shortcut icon" href="icone-arvore.png" />
  <link rel="icon" href="icone-arvore.png">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether.min.css" rel="stylesheet" type="text/css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.5.0/introjs.min.css" rel="stylesheet" type="text/css" />
  <link href="../chat.css" rel="stylesheet" type="text/css" />
  <link href="<%= url %>apache/dashboard/css/main.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript">
     var server = '<%= server %>'
     , restpath = '<%= path %>'
     , a = '<%= string %>'
     , b = '<%= id %>'
     , v = '<%= version %>'
     , k = '<%= key %>';
  </script>
  <script type="text/javascript" src="<%= url %>apache/dashboard/js/plugins.js"></script>
  <script type="text/javascript" src="<%= url %>apache/dashboard/js-rest/rest_commands.js?v=<%= version %>"></script>
  <script type="text/javascript" src="<%= url %>apache/dashboard/js/common.js?v=<%= version %>"></script>  
</head>
<body>
<div id="contentIframe">
	<iframe id="plataforma" src="<%= iframe %>" class="embed-responsive-item"></iframe>
  </div>
  <div class="content">
    <div class="row" data-page='chat'>
      <div class="panel panel-chat" id='chat' style="background-color:#FFF;display:none;">
        <div class="panel-heading">
          <span class="spanNome">YggTalk</span>
          <a href="javascript:void(0);" class="chatMinimize">_</a>
          <div class="clearFix"></div>
        </div>
        <div class="panel-body" data-room="first" id="chaters">
          <ul class="pages"><li class="users page"></li></ul>
        </div>
        <div class="panel-footer" data-room="first" style="border-top:none;background:#EDEFF4;height:0;"></div>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="../main.js?v=<%= version %>"></script>
</html>