#contentIframe{
    position: fixed; 
    right: 0; 
    bottom: 0; 
    left: 0;
    top: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    z-index: 100000;
}
.inverte{
    transform: rotate(180deg);
}
.chatClose{
    margin-left: 3px;
}
.inputMessage{
    display:block;
    width:100%;    
}
li.userPerfil{
    padding-left:5px;
    border-bottom: 1px solid rgba(255,255,255,0.7) !important;
    display:block;
}
li.users.page{
    max-height: inherit !important;
}
#contentIframe iframe#plataforma{
    display:block;
    width: 100%;
    height: 100%;           
    border: 0 none;
}
.online{color: green;cursor: pointer;}

.clearFix{
    clear:both;
}
.panel.panel-chat{
    position: fixed;
    bottom: 0;
    right: 0;
    max-width: 350px;
    box-shadow: none;
    border-radius: 5px 5px 0 0;
    -webkit-box-shadow: none;
    z-index: 999999;
    overflow: hidden;
    max-height: 343px;
}
.panel.panel-chat *{
    background: none;
    border: none;
    font-size: 12px;
}
.panel.panel-chat .messages{
    max-height:inherit !important;
    overflow-y:scroll;
    overflow-x:hidden;
    height: 297px;
}
.spanNome{
    margin-left: 5px;
    margin-top: 3px;
    display: inline-block;
    font-weight: 500;
}
.panel.panel-chat .panel-body span.messageBody{
    padding: 0 !important;
}
.panel.panel-chat .panel-body .messageMe span.messageBody{
    text-align:right;
}
.messageMe .messageBody footer{
    text-align: right;
    padding-right: 5px;
}
.messageHer .messageBody footer{
    padding-left: 5px;
}
.msgSpan{
    padding-bottom: 0 !important;
}
.panel.panel-chat .panel-heading{
    background: #31333f;
    border: 1px solid rgba(0,0,0,0.2);
    color:#FFF;
    width: 304px;
    font-weight: bold;
    text-decoration: none;
}
.panel.panel-chat img{
    margin-right: 5px;
    border-radius: 100px;
    width: 40px !important;
    margin: 5px 5px 5px 0;
}
.panel.panel-chat .panel-heading a{
    color: #FFF;
    float: right;
    padding: 2px 11px;
    border: 1px solid transparent;
}
.panel.panel-chat .panel-heading a:hover{
    background-color: rgba(255,255,255,0.2) !important;
}
.panel.panel-chat .panel-body footer{
    height: initial;
}
li.userPerfil{
    padding:5px;
    border-bottom: 1px solid rgba(255,255,255,0.8) !important;
}
.panel.panel-chat .panel-body{
    display: block;
    padding: 0;
    margin: 0;
    max-height: 250px;
    height: 250px;
    border-left: 1px solid #b2b2b2;
    border-right: 1px solid #b2b2b2;
    background: #EDEFF4;
    overflow-y: scroll;
    overflow: -moz-scrollbars-vertical;
    overflow-x: hidden;
}
.panel.panel-chat .panel-body.usersSelection{
    height: 280px !important;
    max-height: inherit !important;
}
.panel.panel-chat .panel-body .messageMe{
    width: 285px;
    margin: 0 0 5px;
}
.panel.panel-chat .panel-body .messageHer{
    width: 285px;
    margin: 0 0 5px;
}
.panel.panel-chat .panel-body .messageMe img
{
   float:left;
   max-width: 50px;
   max-height: 50px;
}
.panel.panel-chat .panel-body .messageMe span{
    display: block;
    float:left;
    padding: 5px;
    background: #FFF;
    max-width: 280px;
    width: 277px;
    min-height: 30px;
}
.panel.panel-chat .panel-body.messages .message:last-child{
    margin-bottom:0px;
}
.panel.panel-chat .panel-body .messageHer img{
    float:right;
    max-width: 50px;
    max-height: 50px;
}
.panel.panel-chat .panel-body .messageHer span{
    display: block;
    float:right;
    padding: 5px;
    background: #FFF;
    min-height: 30px;
    max-width: 277px;
    width: 277px;
}
.panel.panel-chat .panel-footer{
    padding: 0;
    margin: 0;
    border: 1px solid #b2b2b2;
    max-height: 75px;
    height: 30px;
}
.panel.panel-chat .panel-footer input{
    margin-bottom: -5px;
    resize: none;
    width: 100%;
    height: 100%;
    padding-left: 10px;
}
#chaters{
	height: 280px !important;
    max-height: 280px !important;
}